<div class="p-t-20 p-b-30">
	<h3 class="card-title">{{ 'PROJECTS_ACCESS' | trans }}</h3>
	<hr>
	<div class="row">
		{% block projects %}
			{% spaceless %}
				{% for child in form.projects %}
					<div class="col-md-6 col-lg-3">
						{{ form_widget(child) }}
						{{ form_label(child) }}
					</div>
				{% endfor %}
			{% endspaceless %}
		{% endblock projects %}
	</div>
</div>
