<div id="timelineAdd" style="display:none;">
	<div>
		<textarea class="form-control" id="timelineCommentText" placeholder="Ingrese un comentario..."></textarea>
	</div>
	<div class="btn-group">
		<button type="button" class="btn btn-success" onclick="sendComment(this)">
			<i class="fa fa-check"></i>
			{{ 'SAVE' | trans }}</button>
	</div>
</div>
<ul class="timeline" id="timeline"></ul>
