<script>
function loadTimeline(){
        $.ajax({
        url: '{{ endpoint }}?sort=title&direaction=ASC',
        type: 'GET',
        crossDomain: true,
        success: function(data) {
            var html=`<li class="timeline-inverted" style="margin-bottom: 150px; margin-top: -35px;">
                    <div class="timeline-badge success cursor-pointer" onclick="addTimeline()" >
                        <i class="fa fa-plus"></i>
                    </div>
                </li>`;
            $.each( data, function( index, item ){
                var classDirection=((index%2)==0)?'':'class="timeline-inverted"';
                var d = new Date(item.createdAt);
                item.description=(item.description)?item.description:'';
                if(item.user)
                    var username=item.user.name;
                else
                    var username='Automático'
                html+=`<li ${classDirection}>
                    <div class="timeline-badge ${item.status}">
                        <i class="${item.icon}"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">${item.title} <span class="pull-right"><i><b><small>${username}</small></b></i></span></h4>
                            <p>
                                <small class="text-muted">
                                    <i class="mdi mdi-timer"></i>
                                    ${(d.getDate()<10?'0':'') + d.getDate()}/${(d.getMonth()+1)}/${d.getFullYear()} ${(d.getHours()<10?'0':'') + d.getHours()}:${(d.getMinutes()<10?'0':'') + d.getMinutes()}</small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>${nl2br(item.description)}</p>
                        </div>
                    </div>
                </li>`;
            });
            $("#timeline").html(html);

        },  
        complete:function(){
            
        },
        error: function(data, status, error) {
            
        }
    });
}
function addTimeline(){
    let $timelineAdd=$("#timelineAdd");
    if($timelineAdd.css('display')=='none')
        $("#timelineAdd").slideDown("fast");
    else
        $("#timelineAdd").slideUp("fast");
}
function sendComment(btn){
    let $btn=$(btn);
    let btnHtml=$btn.html();
    let val=$("#timelineCommentText").val();
    $btn.attr('disabled',true);
    $btn.html(getSpin('fa-1x'));
    if (val == '') {
        $.toast({
        heading: 'Error',
        text: 'Debe ingresar un comentario',
        position: 'top-right',
        icon: 'error',
        hideAfter: 3000,
        stack: 6
        });
        swal.close();
        return false;
    }
    $.ajax({
        url: "{{ path('api_logs_post') }}",
        type: 'POST',
        data: JSON.stringify(
        {
            title: "Nota",
            description: val,
            resource: "units_comments_{{ entity.id }}",
            icon: 'mdi mdi-note',
            status: 'warning',
            user: "{{ app.user.id }}"
        }
        ),
        crossDomain: true,
        success: function (data) {
            loadTimeline();
            $.toast({
                heading: 'Correcto',
                text: 'El comentario fue guardado',
                position: 'top-right',
                icon: 'success',
                hideAfter: 3000,
                stack: 6
            });
        },
        complete: function () { addTimeline(); $btn.attr('disabled',false); $btn.html(btnHtml); $("#timelineCommentText").val('')},
        error: function (data, status, error) {}
    });
}
$(function (){
    loadTimeline();
});
</script>
